* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  text-align: center;
  margin: 50px;
}
span.screen {
  /* display: block; */
  background-color: #8498cb;
  padding: 15px 40px;
}
h2 {
  font-size: 40px;
  margin-top: 40px;
  padding-bottom: 20px;
  font-weight: 400;
}
h2 > span {
  color: #00aff3;
}
p {
  padding-bottom: 20px;
}
button {
  color: #fff;
  padding: 8px 16px;
  min-width: 120px;
  border-radius: 5px;
  background-color: #2c3033;
}
button + button {
  margin-left: 20px;
}
