* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background: #4286f4;
  margin-top: 10px;
  margin-left: 10px;
  width: 500px;
  min-height: 100vh;
}
.list {
  padding: 20px;
}
.list-item,
.list-module {
  font-size: 16px;
  padding: 8px;
  border: 1px solid #fff;
  margin-bottom: 3px;
}
.list-module {
  background: #ff6f00;
}
.list-item {
  background: #8bb3f4;
}
