@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
.container {
  font-family: "Asap", sans-serif;
  text-transform: uppercase;
}
.banner {
  background: url("https://cdn.houseviet.vn/images/project/23042023/ha-noi-melody-residences-cover.jpg")
    no-repeat;
  background-size: 100%;
  padding-bottom: 350px;
}
.logo-title {
  display: flex;
  position: absolute;
  top: 200px;
  left: 50px;
}
.logo {
  background: #fff;
  padding: 50px 10px;
  border-radius: 3px;
}
.title p {
  display: inline-block;
  padding-right: 15px;
}
.title {
  color: #fff;
  padding-top: 20px;
  padding-left: 30px;
}
.title h1 {
  padding-bottom: 20px;
}
.nav {
  margin-right: 40px;
}
.nav ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 30px;
}
.nav ul li {
  list-style: none;
  padding: 10px 10px;
}
.nav ul li:hover a {
  color: #bf4240;
  box-shadow: 0 2px #bf4240;
}
.nav ul li a {
  text-decoration: none;
  color: #3f3424;
}
